@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.navbar {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@layer base {
  button {
    @apply px-6 py-2 rounded-md border-black border-2 hover:bg-classicBlue hover:border-classicBlue hover:text-white transition ease-in-out duration-300;
  }

  input {
    @apply px-2 py-1 rounded-lg border-gray-400 border focus:outline-blue-500;
  }
}
